.env
.env.local
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
server.log
server.err.log

backend/.venv/
backend/vector_store/*
!backend/vector_store/.gitkeep
!backend/vector_store/accord-2022-324-937adf179251/
!backend/vector_store/accord-2022-324-937adf179251/**
!backend/vector_store/arrete-aof-directions-techniques-mnd-cbf3e2767b08/
!backend/vector_store/arrete-aof-directions-techniques-mnd-cbf3e2767b08/**
!backend/vector_store/attributions-et-fonctionnement-9df9e3c2a961/
!backend/vector_store/attributions-et-fonctionnement-9df9e3c2a961/**
!backend/vector_store/decret-2018-552-9532c051e40c/
!backend/vector_store/decret-2018-552-9532c051e40c/**
!backend/vector_store/decret-2021-308-2-a0645eea7a65/
!backend/vector_store/decret-2021-308-2-a0645eea7a65/**
!backend/vector_store/decret-2021-401-fc3ee191131b/
!backend/vector_store/decret-2021-401-fc3ee191131b/**
!backend/vector_store/donnees-a-utiliser-1-1678f7d2541d/
!backend/vector_store/donnees-a-utiliser-1-1678f7d2541d/**
frontend/node_modules/
frontend/.next/
frontend/out/

Data pour base postgreSQL/
